.car {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    margin: 10px;
    width: 300px;
}

.description {
    margin: 10px;
}

.model,
.price,
.year {
    font-weight: bold;
}

.car>img {
    height: 50px;
    margin: 10px;
}